<div class="label">{{ t "indicators.air-quality.category-label" }}</div>
<a class="modal-link info-badge {{ quality }}" data-modal="#quality-modal" href="#">
  <span class="description imeca-category value">
    {{#if quality}}
      {{t (concat "indicators.air-quality." quality ".title") }}
    {{else}}
      {{ t 'values.null' }}
    {{/if}}
  </span>
</a>
