<div class="label head">{{ t "indicators.pollutants.label" }}</div>
<a href="#" class="modal-link" data-modal="#pollutants-modal"><span class="info-icon"></span></a>
<div class="table agents">
  <div class="col">
    <div class="badge">PM10</div>
    <div class="toracic-particles value">{{ coalesce measurement.toracicParticles (t 'values.null') }}</div>
  </div>
  <div class="col">
    <div class="badge">PM2.5</div>
    <div class="respirable-particles value">{{ coalesce measurement.respirableParticles (t 'values.null') }}</div>
  </div>
  <div class="col">
    <div class="badge">O3</div>
    <div class="ozone value">{{ coalesce measurement.ozone (t 'values.null') }}</div>
  </div>
</div>
{{yield}}
