<div class="label head">{{ t "indicators.forecasts.label" }}</div>

<div class="table row">
  <div class="col th"></div>
  <div class="col th"><div class="badge">PM10</div></div>
  <div class="col th"><div class="badge">PM2.5</div></div>
  <div class="col th"><div class="badge">O3</div></div>
</div>

{{#each forecasts as |forecast|}}
<div class="table row">
  <div class="col">
    <div class="time-range">{{ hour forecast.startsAt }}-{{ hour forecast.endsAt }}</div>
  </div>
  <div class="col">
    <div class="value {{ forecast.toracicParticlesCategory }}">{{ coalesce forecast.toracicParticlesIndex (t 'values.null') }}</div>
  </div>
  <div class="col">
    <div class="value {{ forecast.respirableParticlesCategory }}">{{ coalesce forecast.respirableParticlesIndex (t 'values.null') }}</div>
  </div>
  <div class="col">
    <div class="value {{ forecast.ozoneCategory }}">{{ coalesce forecast.ozoneIndex (t 'values.null') }}</div>
  </div>
</div>
{{/each}}
{{yield}}
