<aside class="left">
  {{ imeca-indicator imecaPoints=measurement.imecaPoints measuredAt=measurement.measuredAt }}
  {{ air-quality-indicator quality=measurement.imecaCategory }}
  {{ recommended-activities-indicator activities=measurement.recommendedActivities }}
</aside>

<aside class="right">
  <div class="row">
    {{ wind-indicator measurement=station.lastMeasurement }}
    {{ temperature-indicator measurement=station.lastMeasurement }}
  </div>

  <div class="row">
    {{ pollutants-indicator measurement=station.lastMeasurement }}
  </div>

  <div class="row">
    {{ pollutant-forecasts-indicator forecasts=station.currentForecasts }}
  </div>
</aside>
